<div class="container-fluid">
  <div class="well">
    <h2>Enter a zipcode:</h2>
    <input class="form-control" placeholder="Zipcode" type="text" id="addLocation" #addLocation>
    <br>
    <button #btnSubmit class="btn btn-primary" id="addLocationBtn" (click)='storeWeatherLocation()'>
      Add location
    </button>
  </div>
  <ng-container *ngIf="isCurrentWeatherEnable">
   
  <div *ngFor="let weather of weatherData;let index; trackBy:identify">
    <div class="well flex">
      <div>
        <h3>{{weather.name}}</h3>
        <h4>Current conditions: {{weather.name}}</h4>
        <h4>Temperatures today:</h4>
        <p>Current {{weather.main.temp}} - Max {{weather.main.temp_min}} - Min {{weather.main.temp_max}}</p>
        <p>
          <button class="ng-search-location__btn" (click)="goToForecast(weather)">Show 5-day forecast for Rancho Cordova</button>
        </p>
      </div>
      <div>
        <span class="close" (click)='removeWeather(weather.id)'>×</span>
        <img [src]="weather.weather?.main" />
      </div>
    </div>
  </div>
</ng-container>